{% extends 'base.html' %}

{% block content %}
<div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
      <a href="/doggo">Random Dog</a>
      {% for thing in breeds%}
        <a href="/doggo/{{thing}}">{{thing}}</a>
        {%endfor%}
    </div>
  </div>
  <div class="alignhomebutt">  <a href="/"><button class="homebutt"> <img class="houseimg"src="../static/clearhouse.png"></button></a>
  </div>
<div class="img-wrapper">
    <img class="img" src="{{img}}">
</div>
<div class="buttondiv">
    <button onClick="window.location.reload();" class="bigredbutton" >CLICK FOR DOG</button>
</div>


{% endblock %}