<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/test.css">
    <title>Dog</title>
</head>
<body>
    <nav>
		<menu>
			<menuitem id="demo1">
				<a>drop</a>
				<menu>
					<menuitem><a href="/doggo">Random Dog</a></menuitem>
               <menuitem>
                  <a>Dog by Breed</a>
                  <menu>
                     <menuitem><a>Test 1</a></menuitem>
                     <menuitem><a>Test 2</a></menuitem>
                     <menuitem><a>Test 3</a></menuitem>
                     <menuitem><a>Test 4</a></menuitem>
                  </menu>  
               </menuitem>
					<menuitem><a>History of Dog Breeds</a></menuitem>
					<menuitem id="demo2">
						<a>more</a>
					</menuitem>
				</menu>
			</menuitem>
         <menuitem><a>no drop</a></menuitem>
		</menu>
	</nav>
</body>
</html>