{% extends 'base.html' %}
{% block content %}

<h1 class="h1">Hello, please enter your username below:</h1>
<!-- <input type="text" placeholder="Type Here" name="username" required>
<button href="/home"> Enter </button> -->
<!-- Button to open the modal login form -->
<button class="button"onclick="document.getElementById('id01').style.display='block'">Login</button>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" action="/home">
    <div class="container">
      <label for="uname" style="color: #feba6c"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>


      <button type="submit"><a href="/home">Login</a></button>
      
    </div>

    <div class="container" style="background-color:#171615">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>
{% endblock %}